@model CustomWebApplication.Models.BigViewModel

<div class="">
    @foreach (var category in Model.Categories)
    {
        <a href="@Url.Action("AlbumListByCategory","Default",new { categoryID = category.CategoryID })" class="">@category.CategoryName</a>
    }
</div>